*.o
*.a
*.exe
*.so
*.class
*.jar

Makefile.config
*.cm?
*.cmx?
*~
*#
**/depend
**/tmp
apronxx/apronxx_test
box/box.ml
box/box.mli
box/box_caml.c
japron/apron/apron_*.h
japron/gmp/gmp_*.h
mlapronidl/abstract0.ml
mlapronidl/abstract0.mli
mlapronidl/abstract0_caml.c
mlapronidl/abstract1.ml
mlapronidl/abstract1.mli
mlapronidl/abstract1_caml.c
mlapronidl/apron_lexer.ml
mlapronidl/apron_ocamldoc.mli
mlapronidl/apron_parser.ml
mlapronidl/apron_parser.mli
mlapronidl/coeff.ml
mlapronidl/coeff.mli
mlapronidl/coeff_caml.c
mlapronidl/dim.ml
mlapronidl/dim.mli
mlapronidl/dim_caml.c
mlapronidl/disjunction.ml
mlapronidl/disjunction.mli
mlapronidl/disjunction_caml.c
mlapronidl/environment.ml
mlapronidl/environment.mli
mlapronidl/environment_caml.c
mlapronidl/generator0.ml
mlapronidl/generator0.mli
mlapronidl/generator0_caml.c
mlapronidl/generator1.ml
mlapronidl/generator1.mli
mlapronidl/generator1_caml.c
mlapronidl/interval.ml
mlapronidl/interval.mli
mlapronidl/interval_caml.c
mlapronidl/lincons0.ml
mlapronidl/lincons0.mli
mlapronidl/lincons0_caml.c
mlapronidl/lincons1.ml
mlapronidl/lincons1.mli
mlapronidl/lincons1_caml.c
mlapronidl/linexpr0.ml
mlapronidl/linexpr0.mli
mlapronidl/linexpr0_caml.c
mlapronidl/linexpr1.ml
mlapronidl/linexpr1.mli
mlapronidl/linexpr1_caml.c
mlapronidl/manager.ml
mlapronidl/manager.mli
mlapronidl/manager_caml.c
mlapronidl/policy.ml
mlapronidl/policy.mli
mlapronidl/policy_caml.c
mlapronidl/scalar.ml
mlapronidl/scalar.mli
mlapronidl/scalar_caml.c
mlapronidl/tcons0.ml
mlapronidl/tcons0.mli
mlapronidl/tcons0_caml.c
mlapronidl/tcons1.ml
mlapronidl/tcons1.mli
mlapronidl/tcons1_caml.c
mlapronidl/texpr0.ml
mlapronidl/texpr0.mli
mlapronidl/texpr0_caml.c
mlapronidl/texpr1.ml
mlapronidl/texpr1.mli
mlapronidl/texpr1_caml.c
mlapronidl/var.ml
mlapronidl/var.mli
mlapronidl/var_caml.c
newpolka/polka.ml
newpolka/polka.mli
newpolka/polka_caml.c
octagons/oct.ml
octagons/oct.mli
octagons/oct_caml.c
octagons/oct*
ppl/ap_ppl_caml.c
ppl/ap_ppl_test
ppl/ppl.ml
ppl/ppl.mli
products/polkaGrid.ml
products/polkaGrid.mli
products/polkaGrid_caml.c
taylor1plus/t1p.ml
taylor1plus/t1p.mli
taylor1plus/t1p_caml.c

