/* -*- mode: c -*- */

/* ************************************************************************* */
/* ap_lincons0.h: linear constraints and arrays */
/* ************************************************************************* */

/* This file is part of the APRON Library, released under LGPL license.  Please
   read the COPYING file packaged in the distribution */

/* normally included from ap_expr0.h */

#ifndef _AP_LINCONS0_H_
#define _AP_LINCONS0_H_

#include <limits.h>
#include <stdio.h>
#include <stdlib.h>
#include "ap_coeff.h"
#include "ap_dimension.h"
#include "ap_linexpr0.h"
#include "ap_linconsD.h"
#include "ap_linconsMPQ.h"
#include "ap_linconsMPFR.h"

#ifdef __cplusplus
extern "C" {
#endif

/* ====================================================================== */
/* Datatypes */
/* ====================================================================== */

typedef struct ap_lincons0_struct {
  bool ref;
  ap_scalar_discr_t discr;
  union {
    ap_linconsD_ptr    D;
    ap_linconsMPQ_ptr  MPQ;
    ap_linconsMPFR_ptr MPFR;
  } lincons;
} ap_lincons0_struct;
typedef ap_lincons0_struct ap_lincons0_t[1];
typedef ap_lincons0_struct* ap_lincons0_ptr;


/* ====================================================================== */
/* I. Memory management and printing */
/* ====================================================================== */

void ap_lincons0_init(ap_lincons0_t res, ap_scalar_discr_t discr, size_t size);
void ap_lincons0_init_set(ap_lincons0_t res, ap_lincons0_t e);
void ap_lincons0_init_set_D(ap_lincons0_t res, ap_linconsD_t e);
void ap_lincons0_init_set_MPQ(ap_lincons0_t res, ap_linconsMPQ_t e);
void ap_lincons0_init_set_MPFR(ap_lincons0_t res, ap_linconsMPFR_t e);
static inline void ap_lincons0_init_cons_D(ap_lincons0_t res, ap_linconsD_t e);
static inline void ap_lincons0_init_cons_MPQ(ap_lincons0_t res, ap_linconsMPQ_t e);
static inline void ap_lincons0_init_cons_MPFR(ap_lincons0_t res, ap_linconsMPFR_t e);

void ap_lincons0_minimize(ap_lincons0_t a);
void ap_lincons0_clear(ap_lincons0_t e);
void ap_lincons0_fprint(FILE* stream, ap_lincons0_t e, char** name_of_dim);
  /* Printing a linear expression */

static inline void ap_lincons0_ref_D(ap_lincons0_t res, ap_linconsD_t e);
static inline void ap_lincons0_ref_MPQ(ap_lincons0_t res, ap_linconsMPQ_t e);
static inline void ap_lincons0_ref_MPFR(ap_lincons0_t res, ap_linconsMPFR_t e);
  /* Returns a reference on the argument under the form of ap_lincons0_ref.
     INTERNAL USE.
     BE CAUTIOUS: memory is shared between the result and the argument, and
     memory should be managed through the argument. */

/* ====================================================================== */
/* II. Conversions */
/* ====================================================================== */

bool ap_lincons0_set(ap_lincons0_t res, ap_lincons0_t e, numinternal_t intern);

bool ap_lincons0_set_ap_linconsD(ap_lincons0_t a, ap_linconsD_t b, numinternal_t intern);
bool ap_lincons0_set_ap_linconsMPQ(ap_lincons0_t a, ap_linconsMPQ_t b, numinternal_t intern);
bool ap_lincons0_set_ap_linconsMPFR(ap_lincons0_t a, ap_linconsMPFR_t b, numinternal_t intern);

bool ap_linconsD_set_ap_lincons0(ap_linconsD_t a, ap_lincons0_t b, numinternal_t intern);
bool ap_linconsDMPQ_set_ap_lincons0(ap_linconsMPQ_t a, ap_lincons0_t b, numinternal_t intern);
bool ap_linconsMPFR_set_ap_lincons0(ap_linconsMPFR_t a, ap_lincons0_t b, numinternal_t intern);

/* ====================================================================== */
/* III. Access */
/* ====================================================================== */

void ap_lincons0_linexpr0ref(ap_linexpr0_t e, ap_lincons0_t c);
ap_constyp_t* ap_lincons0_constypref(ap_lincons0_t c);
mpq_ptr ap_lincons0_mpqref(ap_lincons0_t c);

/* ====================================================================== */
/* IV. Change of dimensions and permutations */
/* ====================================================================== */

/* This function add dimensions to the expressions, following the
   semantics of dimchange (see the type definition of dimchange).  */
void ap_lincons0_add_dimensions(ap_lincons0_t a,
				ap_lincons0_t b,
				ap_dimchange_t* dimchange);

/* This function apply the given permutation to the dimensions. If dense
   representation, the size of the permutation should be expr->size. If sparse
   representation, the dimensions present in the expression should just be less
   than the size of the permutation. */
void ap_lincons0_permute_dimensions(ap_lincons0_t a,
				    ap_lincons0_t b,
				    ap_dimperm_t* perm);

/* ====================================================================== */
/* V. Hashing, comparison */
/* ====================================================================== */

/* Induces reduction of the coefficients */

int ap_lincons0_hash(ap_lincons0_t expr);
bool ap_lincons0_equal(ap_lincons0_t expr1,
		       ap_lincons0_t expr2);

/* Lexicographic ordering, terminating by constant coefficients */
int ap_lincons0_compare(ap_lincons0_t expr1,
			ap_lincons0_t expr2);

static inline void ap_lincons0_init_cons_D(ap_lincons0_t res, ap_linconsD_t e)
{ res->ref = false; res->discr = AP_SCALAR_D; res->lincons.D = e; };
static inline void ap_lincons0_init_cons_MPQ(ap_lincons0_t res, ap_linconsMPQ_t e)
{ res->ref = false; res->discr = AP_SCALAR_MPQ; res->lincons.MPQ = e; };
static inline void ap_lincons0_init_cons_MPFR(ap_lincons0_t res, ap_linconsMPFR_t e)
{ res->ref = false; res->discr = AP_SCALAR_MPFR; res->lincons.MPFR = e; };

static inline void ap_lincons0_ref_D(ap_lincons0_t res, ap_linconsD_t e)
{ res->ref = true; res->discr = AP_SCALAR_D; res->lincons.D = e; };
static inline void ap_lincons0_ref_MPQ(ap_lincons0_t res, ap_linconsMPQ_t e)
{ res->ref = true; res->discr = AP_SCALAR_MPQ; res->lincons.MPQ = e; };
static inline void ap_lincons0_ref_MPFR(ap_lincons0_t res, ap_linconsMPFR_t e)
{ res->ref = true; res->discr = AP_SCALAR_MPFR; res->lincons.MPFR = e; };

#ifdef __cplusplus
}
#endif

#endif
